<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="styles/home.css">
<link rel="stylesheet" href="styles/cover.css">
<link rel="shortcut icon" href="/css/favicon.ico">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- Global CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Plugins CSS -->
<link rel="stylesheet" href="/css/font-awesome.css">

<!-- Theme CSS -->
<link rel="stylesheet" href="styles/styles.css">
